

.product {
        width: 400px;
    }

  
.shelf-title {
    position: fixed;
    color: white;
    height:108px;
    width: 20vw;
    left: 200px;
    text-decoration: none;
   background-color: #E23519;
   font-weight: bold;
   font-size: 50px;

   
   
}

#img-logo {
    position: fixed;
    left: 65px;
    top: 20px;
    width: 70px;
    height: 70px; 

}


.img-logo {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #B81000;
    width: 12vw;
    height: 108px;
}
.bin-title {
    position: fixed;
    font-weight: bold;
    color: white;
    width: 70vw;
    height: 108px;
    right: 0px;
    background-color: #FD5F4B;
    font-weight: bold;
   font-size: 50px;
   text-align: left;
   text-indent: 10px;
}



input {
    border-color: #B81000;
    left: 400px;
    width: 400px;
    height: 60px;
    border-radius: 5px;
}
#save {
    background-color: rgb(61, 196, 144);
    width: 200px;
    height: 75px;
    border-radius: 10px;
}

#edit {
    width: 200px;
    height: 75px;
}
.input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 200px;
    font-size: 16px;
   
}


.button-container {
    display: flex;
    justify-content: center;

    color: black;
    text-align: center;
    
}
#delete {

    background-color: rgb(228, 228, 228);
    width: 200px;
    height: 75px;
    

}


