.shelf-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}


.shelf-header {
    position: fixed;
    background-color: #B81000;
    color: white;
    height: 110px;
    width: 70vw;
    font-size: 50px;
    text-indent: 15px;
    line-height: 2em;
    font-weight: bold;
    right: 0px;
  
}

a.shelf-logo {
    position: fixed;
    background-color: rgb(155, 31, 31);
    width: 30vw;
    height: 110px;
   left: 0px;
   top: 0px;
   justify-content: center;
   align-items: center;
}

img.logo1 {
    width: 70px;
    height: 70px; 
  

}
.bin-list {
    margin-top: 100px;
}

button.shelf-button-bin {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #FD5F4B;
    color: white;
    font-size: 30px;
    width: 500px;
    height: 70px;
    text-align: left;
    text-indent: 100px;

 

}

.shelf-add-button {
    background-color: #ffb8af;
    border-radius: 10px;
    color: black;
    margin-top: 30px;
    font-size: 30px;
    width: 500px;
    height: 70px;
}




