.home-header {
  background-color: #B81000;
  height: 110px;
  width: 100vw;
  color: white;
  font-size: 45px;
  text-indent: 25vw; 
  line-height: 2.5em;
}
  img.logo {
    width: 70px;
    height: 70px; 
    margin-left: 17vw;
  }
  
  .shelf {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    width: inherit;
    flex-direction: column;
     text-align: left;
  }
  
  
  button.shelf-button {

    border-radius: 10px;
    background-color: #E23519;
    color: white;
    margin-top: 30px;
    font-size: 30px;
    width: 500px;
    height: 70px;
    text-align: left;
    text-indent: 100px;

   
  }


  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }


