    header {

    background-color: #B81000;
    height: 100px;

    color: white;
    font-size: 45px;
    text-indent: 100px;

  }
  
  
  .shelf {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    width: inherit;
    flex-direction: column;
     text-align: left;
  }
  
  
  .shelf-button {

    border-radius: 10px;
    background-color: #E23519;
    color: white;
    margin-top: 30px;
    font-size: 30px;
   
  }

  button {
    width: 500px;
    height: 70px;
    text-align: left;
    text-indent: 100px;
    font-family: sans-serif;
  }
  
  
  .links {
    display: flex;
    justify-content: space-around;
  
  }

  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }


